.container {
  padding: 1rem 4rem;
  box-shadow: 0 0 0.5rem rgba(black, 0.1);
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100% - 8rem);
  background: white;
  z-index: 10;
  text-align: center;

  .responsive-navigation {
    display: none;
  }

  @media screen and (max-width: 1200px) {
    padding: 1rem 1.5rem;
    width: calc(100% - 3rem);
    min-width: calc(360px - 3rem);
  }

  @media screen and (max-width: 800px) {
    .standard-navigation {
      display: none;
    }
    .responsive-navigation {
      display: block;
    }
  }
}
