.container {
  padding: 1rem 4rem;
  box-shadow: 0 0 0.5rem rgba(black, 0.1);
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100% - 8rem);
  background: white;
  z-index: 10;
  opacity: 0.94;

  .responsive-navigation {
    display: none;
  }

  .standard-navigation {
    text-align: center;
    width: 100%;
    .logo {
      margin: 0.6rem;
      flex-grow: 1;
      a {
        display: inline-block;
      }
      ::ng-deep img {
        height: 2.8rem;
      }
    }
  }

  @media screen and (max-width: 1600px) {
    padding: 1rem 1.5rem;
    width: calc(100% - 3rem);
    min-width: calc(360px - 3rem);
  }

  @media screen and (max-width: 800px) {
    .standard-navigation {
      display: none;
    }
    .responsive-navigation {
      margin-top: 0.2rem;
      display: flex;
      width: 100%;
      .logo {
        flex-grow: 1;
        a {
          display: inline-block;
        }
        ::ng-deep img {
          height: 2.4rem;
        }
      }
    }
    .icon-btn {
      #icon-menu {
        font-size: 1.4rem;
      }
    }
  }

  .button {
    font-family: "Roboto", sans-serif;
    letter-spacing: 1.4px;
    font-weight: 100;
    margin: 0.4rem;
  }

  .item {
    font-family: "Roboto", sans-serif;
    letter-spacing: 1.4px;
    font-weight: 100;
  }
}
