.content {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 4rem;
  position: relative;

  @media screen and (max-width: 1600px) {
    padding: 0 1.5rem;
  }

  @media screen and (max-width: 600px) {
    padding: 0 0.75rem;
  }
}
